{% extends "feed/layout.html" %} {% load crispy_forms_tags %} {% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-4">
        <div class="profile-header text-right">
            <img src="{{ u.profile.profile_pic.url }}" alt="My image" class="rounded-circle img-fluid" width="160" height="160">
        </div>
    </div>
    <div class="col-8">
        <div class="profile-header">
          <h3 class="mb-2">{{ u }}
            {% if request.user == u %} 
            <a class="custom-btn" href="{% url 'edit-profile' %}">Edit Profile</a>
            <a class="custom-btn" href="{% url 'friend-recomendations' %}">Add Friends</a>
            <a class="custom-btn" href="{% url 'friend_list' %}">My Friends</a>
            {% else %}
              {% if button_status == 'not_friend' %}
              <small><a class="custom-btn" href="/users/friend-request/send/{{ u.id }}">Add Friend</a></small>
              {% elif button_status == 'friend_request_sent' %}
              <small><a class="custom-btn" href="/users/friend-request/cancel/{{ u.id }}">Cancel Request</a></small>
              {% elif button_status == 'friend_request_received' %}
              <small><a class="custom-btn" href="/users/friend-request/accept/{{ u.id }}">Accept Request</a></small>
              <small><a class="custom-btn" href="/users/friend-request/delete/{{ u.id }}">Decline Request</a></small>
              {% else %}
              <small><a class="custom-btn" href="/users/friend/delete/{{ u.id }}">Unfriend</a></small>
              {% endif %}
              <small><a class="custom-btn" href="{% url 'direct-message' u.id %}">Message</a></small>
            {% endif %}
          </h3>
            <h5 class="mb-3">{{ u.first_name }} {{ u.last_name }}</h5>
            <p class="mb-5">{{ u.profile.bio }}</p>
            <span class="mr-3 mb-0 pb-0">{{ posts.count }} {% if posts.count == 1 %}Post{% else %}Posts{% endif %}</span>
            <span class="mb-0 pb-0">{{ u.profile.friends.all.count }} {% if u.profile.friends.all.count == 1 %}Friend{% else %}Friends{% endif %}</span>
        </div>
      </div>
      
  </div>
  <div class="col-9 mx-auto">
    <div class="row profile-body py-3 mt-2">
      {% if request.user.profile in u.profile.friends.all or request.user == u %}
      {% for post in posts %} 
        <div class="col-md-4 mx-0 px-0" style="border: 1px solid #333333;">
          <a href="{% url 'post-details' post.id %}">
            <img src="{{ post.picture.url }}" alt="Post Image" class="img-fluid mx-0 px-0 w-100">
          </a>
        </div>
      {% empty %}
          <p class="text-center">No posts available.</p>
      {% endfor %}
      {% else %}
        <p class="text-center">Add {{ u.username }} as a friend to view their posts.</p>
      {% endif %}
  </div>
</div>
</div>

{% endblock content %}